pandas~=1.5.3
numpy~=1.23.5
matplotlib~=3.6.3
plotly
uvicorn
fastapi~=0.94.1
openpyxl
statsmodels~=0.13.5
pandas_profiling
ydata_profiling
pmdarima~=2.0.3
seaborn~=0.12.2

tensorflow~=2.12.0
keras~=2.12.0